html,body{
    margin:0;
    padding:0;
    font-family:Impact;
}

a{
    border-radius: 20px;
    padding:1px 10px;
    background:rgb(244, 243, 245) ;
    color:rgb(20, 19, 19);
    text-decoration: none;
    border:none;
    outline:none;
                
}

.navbar{
    width:100%;
    padding: 20px;
    background-color:rgb(10, 10, 10);
    box-sizing:border-box;
}

.navbar .navbar-header{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
/*Destop*/
@media (min-width:600px){
.navbar .navbar-item{
    position: absolute;
    right: 0;
    top: 5px;   
}

.navbar .navbar-item ul li{
    display: inline;
    margin-right: 15px;
}

.navbar .navbar-item ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.navbar .navbar-item ul li a:hover{
    color: rgb(138, 138, 138);
}
.navbar-btn{
    display: none;
}
}
@media (max-width:600px){
.navbar .navbar-item ul {
    list-style-type:none;
    padding: 0;
}

.navbar .navbar-item ul li{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(148, 144, 144);
}

.navbar .navbar-item ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.navbar-btn{
    border: none;
    background: none;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.navbar-btn span{
    display: block;
    width: 20px;
    border-top: 1px solid white;
}
.navbar-btn span:not(:last-child){
    margin-bottom: 5px;
}

.hide{
    display: none;
}
}

img{
    width: 400px;
    height: 400px;
    
}

h1{
    color:white;
    font-family: Impact;
    margin-left: 10px;
}

h3{
    color:white;
    font-family: Impact;
    margin-left: 10px;
}

.two{
    background-color: black;
    border-radius: 10px;
}


    
    

